<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Functions</title>
</head>
<body>
    <h1>Data from Annotators</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.username }}</td>
                <td>{{ item.password }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
